HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Dependencias de Node (¡Vital no subir esto!)
node_modules/

# Archivos de construcción de Vite
dist/
dist-ssr/
*.local

# Archivos de entorno (Secretos)
.env
.env.*
!.env.example

# Logs de errores de NPM/Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Entornos de desarrollo y SO
.vscode/
.idea/
.DS_Store

# Archivos de entorno y secretos de Spring Boot (¡Muy importante!)
application-secret.yaml
application-dev.yaml
*secret*.properties
*secret*.yaml

# Logs de Java
*.log
